# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Database
db.sqlite3

# Static
staticfiles/
media/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Backups & Dumps
*.dump
*.sql
*.bak

# Google Drive API
credentials.json
token.json
pdf_backup/
